.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    max-width: 300px;
  }
  
  .media {
    width: 100%;
    height: auto;
  }
  
  .content {
    padding: 15px;
  }
  
  .content h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #333;
  }
  .content h2{
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #333;    
  }
  
  .content p {
    margin: 0;
    color: #666;
  }
  .content1{
    padding: 15px;
  }
  .content1 h2 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #333;
  }